.contenedorMenu{
    display: flex;
    justify-content: space-around;
    color:white;
}
.contenedor1{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}
.contenedortitulo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    font-size: large;
}
.contenedorLista{
    display: flex;
    justify-content:flex-end;
    color: white;
}
ul{
    list-style: none;
}
.contenedor2{
    display: flex;
    justify-content: space-between;
    color: white;
}
.contenedor3{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: larger;
}
.contenedor4{
    display: flex;
    justify-content: space-around;
    color: white;
}
.contenedorTour1{
    width: 100%;
    height: 100%;
    color: white;
}
.contenedorTour2{
    width: 100%;
    height: 100%;
    color: white;
}
.contenedorTour3{
    width: 100%;
    height: 100%;
    color: white;
}
.contenedorTour4{
    width: 100%;
    height: 100%;
    color: white;
}
.contenedor5{
    color: white;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
}
.Imagen_1{
    display: flex;
    background-image:url(../Imagenes/Imagen1.jpeg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content:center;
    align-items:flex-end;
}
.Imagen_2{
    display: flex;
    background-image:url(../Imagenes/Imagen2.jpeg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content:center;
    align-items:flex-end;
}
.Imagen_3{
    display: flex;
    background-image:url(../Imagenes/Imagen3.jpeg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content:center;
    align-items:flex-end;
}
.Imagen_4{
    display: flex;
    background-image:url(../Imagenes/Imagen4.jpeg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content:center;
    align-items:flex-end;
}
body{
    background-color: #161815;
}
.videos{
    width: 5;
    height: 5;
    
}